.start {
  background-color: darkgray;
  opacity: 0.8;
  /*color: black;*/
  /*width: 30px;*/
}

.class {
  background-color: darkolivegreen;
  border-radius: 15px;
}

.noClass {
  background-color: darkgray;
  border-radius: 15px;
  opacity: 0.4;
}

th {
  background-color: darkgray;
  opacity: 0.6;
}

.empty {
  background-color: darkgray;
  opacity: 0.2;
}
