<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Actions</mat-panel-title>
    <mat-panel-description>You can change something HERE</mat-panel-description>
  </mat-expansion-panel-header>
  <app-time-table-settting></app-time-table-settting>
</mat-expansion-panel>
<table id="table">
  <thead>
  <tr>
    <th style="width: 10%">第{{s.currentWeek}}周</th>
    <th style="width: 18%">周一</th>
    <th style="width: 18%">周二</th>
    <th style="width: 18%">周三</th>
    <th style="width: 18%">周四</th>
    <th style="width: 18%">周五</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of map|async" style="height: 2em">
    <ng-container *ngFor="let e of row;" [ngSwitch]="e.type">
      <td *ngSwitchCase="'start'" class="start">
          <b>{{e.data}} </b><br/>
          <small>{{getTime(e.data)}}</small>
      </td>
      <td  *ngSwitchCase="'class'" [attr.rowspan]="e.data.length" style="height: inherit">
        <mat-card (click)="showDetail(e.data)" style="padding: 4px"
                  [class.class]="e.data.enable"
                  [class.noClass]="!e.data.enable"
                  [class.highlight]="e.data.highlight">
          <b>{{e.data.name}}</b><br/>
          <span>{{e.data.time.place||e.data.place}}</span>
        </mat-card>
      </td>
      <td *ngSwitchCase="'empty'" class="empty"></td>
    </ng-container>
  </tr>
  </tbody>
</table>
