@import "~@angular/material/theming";

$mainColor: $mat-light-blue;

.table {
  width: 100%;
  background-color: rgba(169, 169, 169, 0.05);
  border-radius: 10px;
}

td {
  height: inherit;
}

.top {
  background-color: mat-color($mainColor, 100, 0.8);
  text-align: center;
}

.start {
  padding-top: 2px;
  min-height: 2em;
  height: 100%;
  /*color: black;*/
  /*width: 30px;*/
  background-color: mat-color($mainColor, 50, 0.6);
}

.classBase {
  border-radius: 10px;
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
  background-color: mat-color($mainColor, 200, 0.8);
}

.highlight {
  background-color: mat-color($mainColor, A400);
  opacity: 1;
}

.noClass {
  background-color: rgba(#000, 0.1);
  opacity: 0.8;
}

.empty {
  /*background-color: darkgray;*/
  opacity: 0.2;
}

.highlightWeek {
  background-color: mat-color($mainColor, 400);
  //color: black;
  font-weight: bolder;
}


@media (prefers-color-scheme: dark) {
  $mainColor: $mat-blue-grey;
  .top {
    background-color: mat-color($mainColor, 900, 0.8);
  }
  .start {
    background-color: mat-color($mainColor, 800, 0.6);
  }
  .classBase {
    background-color: mat-color($mainColor, 700, 0.8);
  }
  .highlight {
    background-color: mat-color($mainColor, 500);
  }
  .noClass {
    background-color: rgba(#fff, 0.1);
  }
  .highlightWeek {
    background-color: mat-color($mainColor, 600);
  }
}
