<h1>{{data.name}}</h1>
<mat-dialog-content>
  <p><label>教师:</label>{{data.teacher}}</p>
  <p><label>学分:</label>{{data.score}}</p>
  <p><label>地点:</label>{{data.place}}</p>
  <div>
    <label>时间:</label>
    <p>
      <ng-container *ngFor="let t of data.times">
        {{getWeek(t)}}&emsp;{{weekDays[t.weekDay - 1]}}&emsp;{{t.session.start}}-{{t.session.end}}&emsp;{{t.place}}<br/>
      </ng-container>
    </p>
  </div>
  <mat-card>
    <mat-card-title>作业</mat-card-title>
    <app-schedule-list [filter]="taskFilter" [briefMap]="briefMap">
      <ng-template let-data="data">{{data.content}}</ng-template>
    </app-schedule-list>
    <mat-card-actions>
      <form (ngSubmit)="addHomeWork()" [formGroup]="newTaskForm">
        <mat-form-field style="width: 100%">
          <mat-label>内容</mat-label>
          <textarea formControlName="content" matInput cdkTextareaAutosize></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>截止时间</mat-label>
          <mat-select formControlName="time">
            <mat-option value="class">下次上课</mat-option>
            <mat-option value="week">下次同一时间</mat-option>
            <mat-option value="custom" disabled>自定义时间(功能开发中)</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-button type="reset" color="warn">重置</button>
        <button mat-button type="submit" color="accent" [disabled]="!newTaskForm.valid">添加</button>
      </form>
    </mat-card-actions>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK!</button>
</mat-dialog-actions>
