<app-sortable-ui>
  <app-schedule-list *appSortableItem="'今日安排'" [handler]="todayHandler" [briefMap]="todayBrief"></app-schedule-list>
  <form *appSortableItem="'待定事项'" (ngSubmit)="addTask()" [formGroup]="newTaskForm">
    <app-schedule-list [handler]="unknownFilter" [briefMap]="unknownBrief"></app-schedule-list>
    <mat-card style="margin-top: 20px">
      <mat-card-title>添加日常安排</mat-card-title>
      <mat-card-content fxLayout="row wrap" fxLayoutGap="20px">
        <mat-form-field fxFlex="nogrow">
          <mat-label>内容</mat-label>
          <input matInput formControlName="title">
        </mat-form-field>
        <div fxFlex="noshrink">
          <mat-label>优先级 {{slider.value}}</mat-label>
          <mat-slider min="1" max="5" step="1" value="1" formControlName="priority"
                      #slider></mat-slider>
        </div>

        <mat-form-field fxFlex="0 1 100%">
          <mat-label>备注(可选)</mat-label>
          <textarea formControlName="content" matInput cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
        </mat-form-field>

        <mat-label fxFlex="none">计划时间:</mat-label>
        <mat-radio-group fxFlex="none" fxLayoutGap="10px" formControlName="day" labelPosition="before">
          <mat-radio-button value="-1">待定</mat-radio-button>
          <mat-radio-button value="0">今天</mat-radio-button>
          <mat-radio-button value="1">明天</mat-radio-button>
          <mat-radio-button value="2">后天</mat-radio-button>
        </mat-radio-group>

        <mat-form-field fxFlex="nogrow">
          <mat-label>时间("小时:分钟","13"代表13点整)</mat-label>
          <input matInput type="time" formControlName="time">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button type="reset" color="warn">重置</button>
        <button mat-button type="submit" color="accent" [disabled]="!newTaskForm.valid">添加</button>
      </mat-card-actions>
    </mat-card>
  </form>
  <app-schedule-list *appSortableItem="'全部日程'" [handler]="allHandler" [briefMap]="todayBrief"></app-schedule-list>
</app-sortable-ui>
