
<div style="padding-left: 0.8rem">
  <div>
    <mat-label>设定当前周:</mat-label>
    <a (click)="setWeek(-1)" [disabled]="s.currentWeek <=1" mat-button> < </a>
    <span>{{s.currentWeek}}</span>
    <a (click)="setWeek(+1)" mat-button> > </a>
  </div>
  <mat-checkbox labelPosition="before" [checked]="s.settings.value.showNonThisWeek"
                (change)="s.updateSetting({showNonThisWeek: $event.checked})">显示非本周课程
  </mat-checkbox>
  <br/>
  <mat-checkbox labelPosition="before" [checked]="s.settings.value.highlightToday"
                (change)="s.updateSetting({highlightToday: $event.checked})">高亮当天课程
  </mat-checkbox>
  <br/>
  <mat-checkbox labelPosition="before" [checked]="s.settings.value.lockWeekOne"
                (change)="s.updateSetting({lockWeekOne: $event.checked})">锁定为第一周(假期专用,注意会重置当前周)
  </mat-checkbox>
  <br/>
  <mat-checkbox labelPosition="before" [checked]="s.settings.value.useGirdRender"
                (change)="s.updateSetting({useGirdRender: $event.checked})">使用Grid方式渲染课表(新版,更高级,功能更强,如遇显示异常请取消)
  </mat-checkbox>
</div>
<mat-accordion displayMode="flat">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>管理课程</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let cls of s.settings.value.classList" disableRipple>
        <button mat-icon-button (click)="editClass(cls)">
          <mat-icon>edit</mat-icon>
        </button>
        {{cls.name}}
      </mat-list-item>
    </mat-list>
    <mat-action-row>
      <button mat-flat-button color="primary" (click)="editClass()">新建课程</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>自动导课</mat-panel-title>
      <mat-panel-description>部分浏览器可能无法使用</mat-panel-description>
    </mat-expansion-panel-header>
    <h5>自动导课教程: 在另一页面打开学校教务处的课表页面,全选复制粘贴(或拖动)到下方区域</h5>
    <mat-form-field>
      <mat-label>请先选择正确的适配器：</mat-label>
      <mat-select #chooseAdapter [value]="inputS.adapter.value.uniqueName" (valueChange)="changeAdapter(chooseAdapter.value)">
        <mat-option *ngFor="let adapter of inputS.adapters" [value]="adapter.uniqueName">{{adapter.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="margin-left: 20px">
      <mat-label>粘贴或者拖动到此处</mat-label>
      <input (paste)="inputData($event.clipboardData)" matInput
             (dragover)="$event.preventDefault()" (drop)="inputData($event.dataTransfer)">
    </mat-form-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>同步课程表(有效期为五分钟)</mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-stroked-button [disabled]="!!syncMessage" (click)="syncClick()">{{syncMessage || "点击获取同步码"}}</button>
    <mat-form-field>
      <mat-label>输入同步码(6位数字)</mat-label>
      <input matInput [formControl]="syncForm">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>
<div>
  <a style="color: gray">默认课表仅供预览,如需使用,请导入课表</a><br/>
  <a style="color: gray">如需添加适配器,请<a href="https://github.com/way-zer/MyApp/issues/new?assignees=&labels=%E7%94%B3%E8%AF%B7%E9%80%82%E9%85%8D&template=AddAdapter.md&title=%E7%94%B3%E8%AF%B7%E9%80%82%E9%85%8D%3A+xxx%E5%AD%A6%E6%A0%A1">提交issue</a></a>
</div>
