<div>
  <mat-label>设定当前周:</mat-label>
  <a (click)="setWeek(-1)" [disabled]="s.currentWeek.value <=1" mat-button> < </a>
  <span>{{s.currentWeek|async}}</span>
  <a (click)="setWeek(+1)" mat-button> > </a>
</div>
<mat-expansion-panel style="margin: 10px 0">
  <mat-expansion-panel-header>
    <mat-panel-title>手动添加课程</mat-panel-title>
  </mat-expansion-panel-header>
  <a style="color: gray">待添加, 如需修改, 请使用浏览器开发者工具修改localStorage内数据, 并刷新网页</a><br/>
  <a style="color: gray">手机请使用同步功能</a>
</mat-expansion-panel>
<div>
  <mat-label>导入课程表:<a style="color: gray">导入功能仅电脑能用，手机请使用同步功能</a></mat-label>
  <div fxHide.xs>
    <button (dragover)="$event.preventDefault()" (drop)="inputData($event.dataTransfer)" mat-button>
      Input Class: <b>Drag to Me</b> or <b>Paste on it -></b>
    </button>
    <mat-form-field>
      <input #input (change)="input.value=''" (paste)="inputData($event.clipboardData)" matInput>
    </mat-form-field>
    <br/>
  </div>
</div>
<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="20px">
  <mat-label fxFlexAlign.gt-sm="center">同步课程表:</mat-label>
  <ng-container *ngIf="auth.user|async as user; else userLogin">
    <button (click)="upload(user.uid)" [disabled]="!btnEnable" mat-button>上传课程表</button>
    <button (click)="download(user.uid)" [disabled]="!btnEnable" mat-button>下载课程表</button>
    <button (click)="auth.auth.signOut()" mat-button>登出(不删除配置)</button>
  </ng-container>
  <ng-template #userLogin>
    <form (ngSubmit)="login(loginEmail.value,loginPassword.value)">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input #loginEmail matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input #loginPassword matInput type="password">
      </mat-form-field>
      <button mat-button type="submit">登录或注册</button>
    </form>
  </ng-template>
</div>
<div>
  <a style="color: gray">默认课表仅供预览,如需使用,请导入课表</a><br/>
  <a style="color: gray">该课程表系统目前只支持BUPT使用,其他等待适配</a>
</div>
