#Menu {
  margin: 0;
  /*text-align: center;*/
}

#container{
  min-height: calc(100% - 32px);
}

@media screen and (min-width: 960px) {
  #container {
    margin: 2% 3% 1%;
    min-height: calc(94% - 32px);
  }
}
