/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@import "~@angular/material/theming";

@include mat-core();

$light-theme: mat-light-theme(mat-palette($mat-light-blue), mat-palette($mat-indigo, A200, A100, A400), mat-palette($mat-red));
@include angular-material-theme($light-theme);

@media (prefers-color-scheme: dark) {
  body {
    background-color: #303030 !important;
  }
  $dark-theme: mat-dark-theme(mat-palette($mat-blue), mat-palette($mat-blue-grey, A600, A400, 800), mat-palette($mat-red));
  @include angular-material-theme($dark-theme);
}
